[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
